<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Total Cobranca</h3>
  </div>
  <div class="panel-body">
    Total Diária: <%= @item_advances.sum('valor')%> <br />
    Total Cobrado: <%= @item_advances.sum('valor_pago')%> <br />
  </div>
 
</div>

<% @item_advances.each do |item| %> 
   <% if item.data_pagamento.nil? %>
      <div class="panel panel-danger">
        <div class="panel-heading">
          <h3 class="panel-title"><%= item.cliente.nome %></h3>
        </div>
          <div class="panel-body">
            Venc: <%= item.data_vencimento.to_s %> | Valor: <%= item.valor.to_f %> <br />
            Dt. Pgto: <%= item.data_pagamento.to_s %> | Valor Pago: <%= item.valor_pago.to_f %>
            </div>
      </div>
      <% else %>
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title"><%= item.cliente.nome %></h3>
        </div>
        <div class="panel-body">
            Venc: <%= item.data_vencimento.to_s %> | Valor: <%= item.valor.to_f %> <br />
            Dt. Pgto: <%= item.data_pagamento.to_s %> | Valor Pago: <%= item.valor_pago.to_f %>          
        </div>
       
     </div>
   <% end %>
<% end %>

